@import url('https://fonts.googleapis.com/css2?&family=Merriweather:wght@300&family=Barlow+Condensed&family=Oswald&family=Caveat:wght@700&family=Tangerine&display=swap');

* {
    top: 0;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #190B18;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    position: sticky;
    padding: 1%;
    border-bottom: 2px solid rgba(91, 91, 91, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

hr {
    background-color: #190B18;
    width: 90%;
    align-self: center;
    margin-left: 5%;
}

ol {
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 4%;
    justify-content: right;
}

.dirty-white-text {
    color: rgb(161, 156, 156);
}

.sky-blue-text {
    color: rgb(98, 174, 204);
}

.brown-text {
    color: rgb(192, 77, 77);
}

.purple-text {
    color: rgb(180, 34, 180);
}

.green-text {
    color: rgb(27, 170, 27);
}

.red-text {
    color: rgb(255, 64, 64);
}

.orange-text {
    color: rgb(255, 189, 67);
}

.yellow-text {
    color: rgb(255, 255, 91);
}

.pink-text {
    color: pink;
}

.blue-text {
    color: rgb(42, 42, 255);
}

li {
    transition: border-bottom 0.2s;
    padding: 2%;
}

li:hover {
    border-bottom: 4px solid #5b5959;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main_page {
    background-image: url(static/bg.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_page .info {
    padding: 3% 10%;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.main_page .info h2 {
    padding-bottom: 5%;
    color: rgb(255, 255, 255);
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 500%;
    
}

.main_page .info p {
    padding-bottom: 10%;
    color: rgb(175, 232, 255);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 200%;
    text-align: center;
}

.section {
    color: #FCF8FC;
}

.row {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
}

.image-wrapper, .description, .website-title, .navi {
    min-width: 40%;
    max-width: 40%;
}

#introduction {
    background-color: #190B18;
}

.section-title {
    font-family: 'Caveat', cursive;
    text-align: center;
    padding: 7% 2%;
    font-size: 300%;
}

.section-title h2 {
    border-bottom: 2px solid rgb(185, 183, 183);
}

img {
    border-radius: 10px;

}

.image-wrapper {
    display: flex;
    justify-content: center;
}

.description h3 {
    font-family: 'Caveat', cursive;
    font-size: 500%;
    margin-bottom: 5%;
}

.description p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 150%;
}
